/* BOOK MARK */
.bookmark {
  width: 180px;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
  margin-bottom: 20px;
}
.bookmark .bookmark-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding-top: 10px;
}
.bookmark .bookmark-list li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border: 1px solid #a6b1e1;
  filter: grayscale(70%);
  border-radius: 10px;
  transition: 0.3s;
}
.bookmark .bookmark-list li:hover {
  border: 1px solid transparent;
  filter: grayscale(0%);
}
.bookmark .bookmark-list li a img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  object-fit: cover;
}
