/* BOOK MARK */
.bookmark {
  display: flex;
  background-color: #eee;
  border-radius: 10px;
  margin-bottom: 20px;
}
.bookmark .bookmark-wrapper {
  display: flex;
  align-items: center;
  padding: 15px 20px;
}
.bookmark .bookmark-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.bookmark .bookmark-list li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 2px 2px 3px #ddd;
  filter: grayscale(80%);
  transition: all 0.3s;
}
.bookmark .bookmark-list li:hover {
  box-shadow: inset 1px 1px 4px #999;
  filter: grayscale(0%);
}
.bookmark .bookmark-list li a img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: auto;
  object-fit: cover;
}
