.covid-wrapper {
  display: flex;
  gap: 10px;
  padding: 20px;
}
.covid-wrapper > div {
  width: 200px;
}
.covid-wrapper .result-title {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  /* background-color: #ccc; */
  border-radius: 10px;
  box-shadow: inset 1px 1px 4px #ccc;
}
.covid-wrapper .result-title h4 {
  color: blue;
  padding-left: 17px;
  position: relative;
}
.covid-wrapper .result-title h4::before {
  content: "";
  width: 1px;
  height: 12px;
  background-color: #ccc;
  position: absolute;
  top: 6px;
  left: 70px;
}
.covid-wrapper .result-title select {
  width: 70px;
  border: none;
}
.covid-wrapper .result-title select:focus {
  outline: none;
}
