/* CLOCK */
.clock-wrapper {
  text-align: center;
}
.clock-wrapper h4 {
  padding: 10px 0;
  border-bottom: 1px solid #eaeaea;
  font-size: 12px;
  font-weight: normal;
}
.clock-wrapper p {
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 34px;
  letter-spacing: -2px;
  color: #333;
  font-weight: bold;
}
