.works-item {
  width: 220px;
  height: 150px;
  text-align: center;
  overflow: hidden;
  position: relative;
}
.works-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.works-item .item-hover {
  width: 100%;
  height: 100%;
  padding: 10px 0;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(2px);
  color: #fff;
  position: absolute;
  top: 100%;
  transition: 0.3s;
}
.works-item:hover .item-hover {
  width: 100%;
  height: 100%;
  transform: translateY(-75px);
}
.works-item:hover .item-hover h4 {
  width: 150px;
  margin: 0 auto;
  margin-bottom: 10px;
  font-size: 14px;
  white-space: nowrap;

  text-overflow: ellipsis;
  overflow: hidden;
}

.works-item .item-hover button {
  border-radius: 3px;
  padding: 3px 20px;
  background-color: #a6b1e7;
  color: #fff;
  font-size: 12px;
  transition: 0.3s;
}
.works-item .item-hover button:hover {
  background-color: #5973e3;
}
