/* MUSIC PLAYER */
.music-wrapper {
  background-position: center;
  background-size: cover;
  position: relative;
}
.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  backdrop-filter: blur(2px);
  position: absolute;
}
.music-wrapper .music-container {
  padding: 30px 20px;
  color: #333;
  text-align: center;
  position: relative;
  z-index: 9;
}

.music-wrapper .music-container .song-name {
  height: 25px;
  margin: 0;
  margin-top: 40px;
  font-size: 18px;
}
.music-wrapper .music-container .artist-name {
  font-size: 12px;
  margin-bottom: 40px;
}
/* AudioPlayer Custom */
.rhap_container {
  width: 185px;
  background-color: transparent;
  padding: 0;
  box-shadow: none;
  position: relative;
}
.rhap_progress-container {
  margin: 0;
  margin-bottom: 40px;
}
.rhap_progress-bar {
  width: 185px;
}
.rhap_progress-indicator {
  width: 12px;
  height: 12px;
  background-color: #4d77ff;
  top: -4px;
  left: 8px;
}
.rhap_progress-filled {
  background-color: #4d77ff;
}
.rhap_time {
  font-size: 12px;
  position: absolute;
  top: 24px;
}
.rhap_total-time {
  right: 0;
}
.rhap_repeat-button,
.rhap_skip-button,
.rhap_play-pause-button,
.rhap_volume-button {
  color: #999;
  transform: scale(0.8);
}
.rhap_volume-container {
  flex: 0 1 24px;
}
.progressbar,
.rhap_volume-bar {
  display: none;
}

/* white mode */
.music-wrapper .music-container.white {
  padding: 30px 20px;
  color: #fff;
  text-align: center;
  position: relative;
  z-index: 9;
}

.music-wrapper .music-container.white .rhap_repeat-button,
.music-wrapper .music-container.white .rhap_skip-button,
.music-wrapper .music-container.white .rhap_volume-button,
.music-wrapper .music-container.white .rhap_time,
.music-wrapper .music-container.white .rhap_play-pause-button {
  color: #fff;
}
