/* NAV */
.nav {
  width: 205px;
  padding: 15px;
}
.nav .user {
  width: 175px;
  margin: 0 auto;
  margin-bottom: 60px;
  padding-top: 25px;
  text-align: center;
}
.nav .user .user-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 10px;
  overflow: hidden;
}
.nav .user .user-img img {
  width: 100%;
  object-fit: cover;
}
.nav .user .user-name {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav .user .user-name .btn-user {
  margin-left: 5px;
  animation: updown 2s alternate infinite;
  transition: 0.3s;
}
@keyframes updown {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(5px);
  }
}
.nav .user .user-name .btn-user:hover {
  animation-play-state: paused;
  color: #4d77ff;
}
.nav .nav-wrapper {
}
.nav .nav-wrapper li a {
  display: block;
  padding: 10px 15px;
  transition: box-shadow 0.3s;
}
.nav .nav-wrapper li a.active {
  background-color: #eaeaea;
  box-shadow: inset 5px 5px 10px rgba(50, 50, 50, 0.1);
  border-radius: 10px;
}
